# MacOSX
.DS_Store

# VIM
*.swp

# Android
android/bin/*
android/libs/*
android/gen
android/proguard.cfg
android/local.properties

# xcode
macosx/build/
macosx/*.xcodeproj/*.pbxuser
macosx/*.xcodeproj/*.mode1v3
macosx/*.xcodeproj/*.mode2v3
macosx/*.xcodeproj/*.perspectivev*
macosx/*.xcodeproj/*.xcuserstate
macosx/*.xcodeproj/project.xcworkspace/
macosx/*.xcodeproj/xcuserdata/

# Unity
unity/Library
unity/Assembly-*
unity/*.csproj
unity/*.sln
unity/*.pidb
unity/*.userprefs
unity/Temp
