# MacOSX
.DS_Store

# VIM
*.swp

# packages
packages

# Android
android/bin/*
android/libs/*
android/gen
android/proguard.cfg
android/proguard-project.txt
android/local.properties

# xcode
macosx/build/
macosx/*.xcodeproj/*.pbxuser
macosx/*.xcodeproj/*.mode1v3
macosx/*.xcodeproj/*.mode2v3
macosx/*.xcodeproj/*.perspectivev*
macosx/*.xcodeproj/*.xcuserstate
macosx/*.xcodeproj/project.xcworkspace/
macosx/*.xcodeproj/xcuserdata/

# Unity
unity/Library
unity/Assembly-*
unity/*.csproj
unity/*.sln
unity/*.pidb
unity/*.userprefs
unity/Temp

unity/Assets/NGUI
unity/Assets/NGUI.meta
unity/Assets/Plugins/Android/SysFont.jar
unity/Assets/Plugins/Android/SysFont.jar.meta
unity/Assets/Plugins/Android.meta
unity/Assets/Plugins/SysFont.bundle/*
unity/Assets/Plugins/SysFont.bundle.meta

*.meta

*.meta

unity/Assets/SysFont/Editor/ISysFontTexturableEditor.cs.meta
